.header {
    background-color: #D6E9FE;
    height: 20px;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 20px;
    font-weight: bold;
    width: 1000px;
  }

.footer-one,
.footer-three {
    background-color: #5995DA;
    width: 400px;
  }

.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
}
.carousel .carousel_item,
.carousel .carousel_item--hidden {
    display: none;
}
.carousel .carousel_item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}
.carousel .carousel_item--visible {
    display: block;
}
.carousel .carousel_actions {
    display: flex;
    align-items: center;
}
.carousel_actions button {
    border-radius: 5px;
    padding: .25em;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    width: 60px;
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
}
.carousel_actions button#carousel_button--prev {
    margin-left: 40px;
    margin-top: 140px;
}
.carousel_actions button#carousel_button--next {
    margin-right: 40px;
    margin-top: 140px;
}

.photo-grid-container .carousel_actions button:focus {
    border-color: greenyellow;
    background-color: orange;
}